{% extends "base.html" %}

{% macro render_field(field) %}
{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class="text-danger">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% block title %}
  Вход
{% endblock %}

{% block page_title %}
  Вход
{% endblock %}

{% block content %}
  <h6>Введите ваш email и пароль для входа!</h6>
  {% if form.errors %}
    <ul class="text-danger">
    {% for error in form.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class="row">
    <div class="col-md-5">
      <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ render_field(form.email, class="form-control", placeholder="Email") }}
    </div>
    <div class="form-group">
      {{ render_field(form.password, class="form-control", placeholder="Пароль") }}
    </div>
    <div class="form-group">
      {{ render_field(form.submit) }}
    </div>
  </form>
    </div>

    <div class="col-md-7">

    </div>

  </div>

{% endblock %}
