{% extends "base.html" %}
{% block title %}
	{{ place.name }}
{% endblock %}
{% block page_title %}
  {{ place.name }}
{% endblock %}
{% block content %}
    <div class="germany">
    <h1> {{ place.name }}</h1>
     <h2>Кёльнский собор</h2>
     <p>Собор Святых Петра и Марии входит в число самых высоких культовых сооружений мира и включен в список культурного наследия человечества как непревзойденный образец готической архитектуры. Характерный строгий фасад строения, устремленные в небо суровые башни и роскошные цветные витражи – таким собор предстает перед многочисленными туристами, приезжающими в Кельн со всего мира, чтобы увидеть творение немецких зодчих.</p>
    <h2>Бранденбурские ворота</h2>
    <p>Бранденбургские ворота являются символом и визитной карточкой Берлина. Это самая узнаваемая берлинская достопримечательность, с которой началось строительство в так называемом берлинском классицистическом стиле. Они находятся в сердце столицы Германии и примыкают к легендарной Липовой аллее, которая соединяет ворота с бывшей королевской резиденцией, а также являются одним из самых высоких строений на Парижской площади, их высота составляет более двадцати пяти метров.</p>
    <h2>Музейный остров Берлина</h2>
    <p>Для того, чтобы выбрать, что посмотреть в Германии, далеко ездить не придётся — прямо посреди европейской столицы, на небольшом острове Шпрееинзель, расположился один из самых ярких и впечатляющих объектов культурного наследия страны — так называемый музейный остров, который представляет собой целый музейный комплекс, включающий пять музеев, основанных в разное время.</p>
    <h2>Берлинская стена</h2>
    <p>Каждый октябрь в Германии отмечается День немецкого единства, состоящий в воссоединении западной и восточной частей государства. В сознании жителей символом воссоединения стало прекращение существования так называемой Берлинской стены, некогда разделившей не только город, но и государство, и весь народ, и ставшей символом «холодной войны». В наши дни, как упоминание о «холодной войне», остался лишь мемориальный комплекс — участок Берлинской стены длиной 1300 метров, ставший важнейшей достопримечательностью Германии и увековечивший в умах память о событиях прошлых лет.</p>
    <h2>Еврейский музей</h2>
    <p></p>
    <h2>Замок Шарлоттенбург</h2>
    <p>Изначально он был просто шикарным подарком прусского короля Фридриха I своей супруге Софие Шарлотте Ганноверской, а уже после превратился в излюбленную летнюю королевскую резиденцию с роскошным парком. Сейчас это одно из самых популярных мест для туристов. Интерьеры и парк просто шикарные. Также на территории парка есть королевская усыпальница.</p>
    <h2>Ротенбург-об-дер-Таубер</h2>
    <p>Oдин из наиболее популярных у туристов городов Германии, жемчужина франконского отрезка Романтический  дороги. Расположен на реке Таубер.</p>
    <h2>Музей БМВ</h2>
    <p>Музей БМВ — музей, посвящённый истории BMW, расположенный в Мюнхене, Германия возле здания штаб-квартиры BMW. В музее представлена экспозиция автомобилей и мотоциклов BMW за всю историю марки.</p>
    <h2>Фантазия Ленд</h2>
    <p>Устали от музеев, замков и саборво? Хочется чего нибудь страшного и весёлого? Именно такое времяпрепровождение обещает парк развлечений Phantasia Land в небольшом городке Брюль недалеко от Кельна и Дюссельдорфа. Этот парк часто сравнивают с «Диснейлендом», и он легко выдерживает сравнение: его аттракционы и представления восхищают посетителей.</p>
    </div>





{% endblock %}