<footer class="footer">
  <div class="container-fluid d-flex justify-content-between">
    <nav class="pull-left">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/MaksimKhmylov/CoolFinalGroupSite/blob/master/readme.md"> README </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/MaksimKhmylov/CoolFinalGroupSite/blob/master/LICENSE"> Licenses </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>