<nav
  class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
>
  <div class="container-fluid">
    <nav
      class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
    >
    </nav>

    <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
      {% if current_user.is_authenticated %}
        <li><h3 class="text-primary px-3">{{ current_user.username }}</h3></li>
        <li><a href="/logout"><i class='fas fa-sign-out-alt' style='font-size:24px'></i></a></li>
        {% else %}
        <li><a href="/login"><i class='fas fa-sign-in-alt px-3' style='font-size:24px'></i> </a></li>
        <li><a href="/register"><i class='fas fa-user-plus' style='font-size:24px'></i></a></li>
      {% endif %}
    </ul>
  </div>

</nav>